{% extends 'base.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}
<h1>Créer un article</h1>

{{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.contenu) }}
    {{ form_row(form.imageFile) }}
    <button class="btn">Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('article_index') }}">Retour à la liste</a>
{% endblock %}
